<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">DAE!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/consulta">Consultar un evento</a>
      <a class="nav-item nav-link" routerLink="/eventos">Eventos</a>
      <a class="nav-item nav-link" routerLink="/eventos/nuevo">Crear evento</a>
      <a class="nav-item nav-link" routerLink="/usuarios/adpl">Usuario adpl</a>
      <a class="nav-item nav-link" routerLink="/registro">Registrarme</a>
      <a class="nav-item nav-link" routerLink="/eventos/organizador">Eventos organizador</a>
      <a class="nav-item nav-link" routerLink="/eventos/asistente">Eventos asistente</a>
      <a class="nav-item nav-link" routerLink="/eventos/inscripcion">Inscripción</a>
    </div>
  </div>
</nav>
