<div>
  <div *ngIf="Object && !error">
    <div class="alert alert-success" role="alert">
      <h3>Evento cancelado con éxito</h3>
    </div>
  </div>
  <div *ngIf="error">
    <div class="alert alert-danger" role="alert">
      <h3>Error</h3>
      Evento no encontrado
    </div>
  </div>
    <form (ngSubmit)="cancelarEvento()">
    <div class="form-group">
      <label for="inputEventoTituloCancelar">Título del evento</label>
      <input type="text" [formControl]="titulo" class="form-control" id="inputEventoTituloCancelar">
    </div>
    <button class="btn btn-danger">Cancelar</button>
  </form>
</div>
