<app-header></app-header>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Consultar usuario</h5>
          <app-usuario-consulta></app-usuario-consulta>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Registrar usuario</h5>
          <app-usuario-registrar></app-usuario-registrar>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Consultar eventos</h5>
          <app-eventos-organizador></app-eventos-organizador>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Consultar eventos asistente</h5>
          <app-eventos-asistente></app-eventos-asistente>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Consultar datos evento</h5>
          <app-evento-consulta></app-evento-consulta>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Crear nuevo evento</h5>
          <app-eventos-crear></app-eventos-crear>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Crear nuevo evento</h5>
          <app-usuario-inscribir></app-usuario-inscribir>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Eliminar evento</h5>
          <app-evento-cancelar></app-evento-cancelar>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<app-footer></app-footer>-->
